<form action="/shorten-urls/" method="post">
  <h4 class="my-3 text-center">指定網址：</h4>
  <div class="row justify-content-center">
    <div class="input w-75 m-2">
      <input type=" text" name="website" class="form-control " placeholder="輸入網址" aria-label="website">
    </div>
    <div class="shorten text-center">
      <button class="btn btn-secondary p-3 m-1" type="submit" id="shorten-button">
        縮短網址
      </button>
    </div>
  </div>
</form>