<form action="/shorten-urls" method="post">
  <h4 class="my-3 text-center">指定網址：</h4>
  <div class="input-group p-1 m-1">
    <input type="text" name="website" class="form-control ml-1" placeholder="{{URL}}" aria-label="website" disabled>
  </div>
</form>
<a href="/{{shortID}}">
  <div class="url-text justify-content-center">
    <p id="shortenURL" class="text-center" style="display: inline; vertical-align: middle;">
      {{shortURL}}
    </p>
  </div>
</a>


<div class="shorten text-center">
  <button class="btn btn-success p-3 m-1" id="copy-button" onclick="copy()">
    複製連結
  </button>
  <a href="/">
    <button class="btn btn-primary p-3 m-1" type="submit" id="goBack-button">
      回到首頁
    </button>
  </a>
  <script>
    function copy() {
      const shortenURL = document.getElementById("shortenURL")
      navigator.clipboard.writeText(shortenURL.innerText.trim())
        .then(() => alert('copied'))
        .catch(error => console.log(error))
    }
  </script>
</div>